<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title> Project NOAH </title>
    
        <!-- Bootstrap -->
        <link href="{{ static_url("lib/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
        <link href="{{ static_url("lib/ol3/ol.css") }}" rel="stylesheet" media="screen">
        <link href="{{ static_url("css/index.css") }}" rel="stylesheet" media="screen">
        <link href="{{ static_url("css/bootmain.css") }}" rel="stylesheet" media="screen">
    </head>
    
    <body>
        <div id="map" ng-controller="MapCtrl"></div>
        
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places">
        </script>
        
        <script src="{{ static_url("lib/angular/angular.min.js") }}"></script>
        <script src="{{ static_url("lib/ol3/ol3.js") }}"></script>
        <script src="{{ static_url("lib/jquery.js") }}"></script>
        <script src="{{ static_url("lib/bootstrap/js/bootstrap.min.js") }}"></script>
        
        <!-- Import javascript codes -->
        <script src="{{ static_url("js/lol.js") }}"></script>
    </body>
</html>