<div id="menulevel1">
    <div id="flood_weather">
        <h4>Flood and Weather</h4>
        <ul>
            <li>
                <input type="radio" name="flood_options" value="contour">
                Contours
            </li>
            <li>
                <input type="radio" name="flood_options" value="doppler">
                Doppler Stations
            </li>
            <li>
                <input type="radio" name="flood_options" value="flood_hazards">
                Flood Hazards
            </li>
            <li>
                <input type="radio" name="flood_options" value="flood_reports">
                Flood Reports
            </li>
            <li>
                <input type="radio" name="flood_options" value="river_inundation">
                Real Time River Inundation
            </li>
            <li>
                <input type="radio" name="flood_options" value="satellite">
                Satellite
            </li>
            <li>
                <input type="radio" name="flood_options" value="sensors">
                Sensors
            </li>
            <li>
                <input type="radio" name="flood_options" value="tide_levels">
                Tide Levels
            </li>
            <li>
                <input type="radio" name="flood_options" value="weather_outlook">
                Weather Outlook
            </li>
        </ul>
    </div>
</div>