<div class="menu">
	<div class="content" ng-controller="FileTreeCtrl">
		<a class="return" href="#"></a>
	</div>
</div>

<div class="inasafe_window">
    <img src="{{ static_url("img/inasafe/logo.png") }}">
    <div class="container">
        <legend>
            <label>Question</label>
        </legend>
        
        <label>In the event of:</label>
        <input type="text" style="width:100%; font-size:10px">
        <label>How Many:</label>
        <input type="text" style="width:100%; font-size:10px">
        <label>Will be:</label>
        <input type="text" style="width:100%; font-size:10px">
        
        <div class="container">
            <br/>
            <button class="btn btn-danger btn-sm">Reset</button>
            <button class="btn btn-primary btn-sm">Calculate</button>
        </div>
    </div>
</div>