<div id="menulevel2">
	<div class="content">
		<a class="return" href="#"></a>
		<div id="contour">
			<h4>Flood and Weather</h4>
    		<h5>Contours</h5>
			<ul>
				<li>Rainfall Contour</li>
    			<li>3-hour Cumulative Rainfall</li>
    			<li>6-hour Cumulative Rainfall</li>
    			<li>12-hour Cumulative Rainfall</li>
    			<li>24-hour Cumulative Rainfall</li>	
				<li>Temperature Contour</li>
				<li>Pressure Contour</li>
				<li>Humidity Contour</li>
				<li>Percent Chance of Rain</li>
			</ul>
		</div>
		<div id="doppler">
			<h4>Flood and Weather</h4>
		    <h5>Doppler Stations</h5>
		    <ul>
		    	<li>Subic Station</li>
		    	<li>Tagaytay Station</li>
		    	<li>Cebu Station</li>
		    	<li>Hinatuan Station</li>
		    	<li>Tampakan Station</li>
		    </ul>
		</div>
		<div id="satellite">
            <h4>Flood and Weather</h4>
		    <h5>Satellite Images</h5>
		    <ul>
				<li>MTSAT</li>
				<li>MTSAT Processed</li>
    			<li>MTSAT VIS</li>
			</ul>
		</div>
		<div id="sensors">
			<h4>Flood and Weather</h4>
			<h5>Sensors</h5>
			<ul>
				<li>Automated Weather Stations</li>
    			<li>Stream Gauges</li>
    			<li>Rain Gauges</li>
			</ul>
		</div>
		<div id="weather_outlook">
			<h4>Flood and Weather</h4>
            <h5>Weather Outlook</h5>
		   	<ul>
                <li>Rain Forecast</li>
		    	<li>4-day Weather Forecast</li>
		    	<li>PAGASA Cyclone Update</li>
		    </ul>
		</div>
		<div id="flood_reports">
		    <h4>Flood and Weather</h4>
		    <h5>Flood Reports</h5>
		    <ul>
		    	<li>2013</li>
		    	<li>2012</li>
		    	<li>2011</li>
		    	<li>2010</li>
		    	<li>2009</li>
		    </ul>
		</div>
	</div>
</div>